<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% block title %}<title>{% if title %}{{ title }}{% else %}The Mouse Brain Architecture Project{% endif %}</title>{% endblock title %}
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/reset.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/viewer.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/djatoka/css/iip.compressed.css" />
<link rel="stylesheet" type="text/css"  media="screen" href="/static/css/main.css"  />
<script type="text/javascript" src="/static/js/mootools-1.2.5-core-yc.js"></script>
<script type="text/javascript" src="/static/js/mootools-1.2.5.1-more.js"></script>
<script type="text/javascript" src="/static/js/iipmooviewer-1.1.js"></script>
<script type="text/javascript" src="/static/js/slideGallery.js"></script>
<script type="text/javascript">
    var imageBase = 'http://mbaimages.cshl.edu/data/MBAProcessingResults/PMD/';
    var server = 'http://mbaimages.cshl.edu:8080/adore-djatoka/resolver';
    var image = imageBase + 'PMD9/PMD9_0002.jp2';
    var credit = '';
    var thumbNails =  [{% for s in sections %}"{{s.pngPathLow}}",{% endfor %}];
    var thumbNailIds =  [{% for s in sections %}"{{s.series_id}}-{{s.id}}-{{s.sectionOrder}}",{% endfor %}];
    window.addEvent('domready', function() {
        var nSections = {{numSections}};
        var bitDepth = Math.pow(2,{{ section.jp2BitDepth }})-1;
        var panel = new Fx.Slide('panel', {mode: 'horizontal'});
        panel.show();
        $('panel').setStyle('z-index','1');
        $('trigger').addEvent('click', function(event) {
            event.stop();
            panel.toggle();
        });
        var setSagittalX = function(x) {
            $('sagittal_pos_allSections').setStyle('left', x);
        };
        var highlightSection = function(elem) {
            elem.getSiblings().setStyle('border-top','');
            elem.setStyle('border-top','3px solid #FFFFFF');
        };
       var showGallery = function(){
       var while_pictures = 0;
	while(while_pictures < nSections) {
                var sectionParts = thumbNailIds[while_pictures].split('-');
	         var image_anchor = new Element('a', {
		   'href': "/seriesbrowser/viewer/"+sectionParts[0]+"/"+sectionParts[1]+"/",
		 } );
		var new_image = new Element('img', {
			'src': thumbNails[while_pictures],
			'id': thumbNailIds[while_pictures],
		});
		new_image.injectInside(image_anchor);
		image_anchor.inject($('gallery_inside'));
		while_pictures++;
	}
    };
    showGallery();
    $$('#gallery_inside img').each(function(elem) {
       elem.addEvent('mouseover', function(){
           var sectionParts = elem.id.split('-');
           {% if showNissl == '0' %}
           setSagittalX(23 + Math.round((sectionParts[2]-1) / (2*nSections) * 200));
           {% else %}
           setSagittalX(23 + Math.round((sectionParts[2]-1) / (nSections) * 200));
           {% endif %}
           new Request.HTML({
               url: '/seriesbrowser/ajax/section/' + sectionParts[1] + '/{{showNissl}}/{{screen}}',
               method: 'get',
               onComplete: function(response) {
                    $('panel_content').empty().adopt(response);
                }
           }).send();
       });
   });
    var vertical_moves = 0;
    var rows = Math.ceil(nSections/7);
    if(rows>10) {
	$('up').addEvent('click', function(event){
		if(!$('up').hasClass('deactivated')) {
			vertical_moves--;
			$('down').erase('class');
			$('gallery_inside').tween('margin-top', '-'+ (400 * vertical_moves) +'px');
			if (vertical_moves==0) {
				$('up').set('class', 'deactivated');	
			}
		}
	});
		
	$('down').addEvent('click', function(event){
		if(!$('down').hasClass('deactivated')) {
			vertical_moves++;
			$('up').erase('class');	
			$('gallery_inside').tween('margin-top', '-'+ (400 *vertical_moves) +'px');
			if(vertical_moves*5>= (rows-14)) {
				$('down').set('class', 'deactivated');	
			}
		}
	});
   } else {
	$('up').set('class', 'deactivated');	
	$('down').set('class', 'deactivated');	
  }
});

</script>
</head>
<body>
  <div id="sagittal_allSections"><div id="sagittal_pos_allSections"></div><img src="/static/img/blended_sag.png" alt="sagittal" /></div>
  <br/>
    {% if sections %}
<!-- Photo gallery -->
   <div id="gallery_container">
     <h1>Section thumbnails</h1>
     <div id="picture_section">
	<div id="gallery_inside">
	</div>
     </div>
     <div id="controls_vert">
       <div id="up" class="deactivated">Scroll Up</div>
       <div id="down">Scroll Down</div>
     </div>
  <!-- end galley -->
  {% endif %}
<div id="panel">
  <div id="panel_content">{% if section %}{% include 'seriesbrowser/ajax/section.html' %}{% endif %}</div>
  <div style="clear:both;"></div>
</div>
<div><a id="trigger" class="trigger" href="#">Info</a></div>
</body>
</html>
