{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css" />
<link rel="stylesheet" type="text/css" href="/static/css/injections.css">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/slideGallery.js"></script>
    <script type="text/javascript">
        window.addEvent('domready', function() {

  // Add help icon and help text on mouseover
  new Element( 'a', {href: 'http://mbaimages.cshl.edu/?page_id=973', target:'_blank', id:'logo'} ).injectInside('content');
  $('logo').position({relativeTo: $('content'), position: 'top: 0px; left:0px;'});
  new Element('img', {src: '/static/djatoka/images/help.png', id: 'help', styles: { opacity:0.8 } } ).injectInside('logo');

     $('help').setStyle( 'filter', 'progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src="/static/djatoka/images/help.png",sizingMethod=scale)' );
  
  new Tips( '#help, #toolbar', {
     className: 'tool-tip2',
     onShow: function(t){ t.setStyle('opacity',0.2); t.fade(0.9); },
     onHide: function(t){ t.fade(0); }
  });
   $('help').store('tip:text', '<div style="display: table-cell;"><img style="vertical-align:text-top;" src="/static/img/bap_logo_tr.png" width="53" height="60" /></div><div style="width: 500px; display: table-cell; padding:20px; vertical-align:top; color:#fff; line-height:110%; font-size:13px;"><li>Click on the sagittal atlas section to scroll the grid display to sections taken from around the chosen location. The section closest to your selection will be highlighted.</li><li>Hovering over a thumbnail will move the sagittal selector to its approximate location along the y-axis</li><li>Use the up/down arrows to slide the grid of thumbnails to a different position in the brain</li><li>Click the "Show Interleaved Nissl Series" checkbox (when available) to show Nissl sections from the same brain in line with the other series.</li><li>Click on a thumbnail to open it in the hi-res viewer.</li><br /><strong>Click the ? icon for additional help</strong></div>');

            var nSections = {{numSections}};

{% if not series.isAuxiliary %}
            var setSagittalX = function(x) {
                $('sagittal_pos').setStyle('left', x);
            };
{% endif %}
            var sections = [];
            var highlighted = undefined;
            
            var highlightSection = function(elem) {
                if(highlighted) {
		   highlighted.setStyle('border','');
		   highlighted.setStyle('opacity',1.0);
		}
                elem.setStyle('border','2px solid #FF0000');
		elem.setStyle('opacity',0.6);
                highlighted = elem;
            };

{% if not series.isAuxiliary %}
{% if series.labelMethod != 1 %}
	    $('showNissl').addEvent('click', function(e) {
	       if ($('showNissl').checked ) {
	          url = 'http://mouse.brainarchitecture.org/seriesbrowser/gallery/{{series.id}}/1';
		  self.location=url;
               } 
	       else {
	          url = 'http://mouse.brainarchitecture.org/seriesbrowser/gallery/{{series.id}}';
		  self.location=url;
	       }});
{% endif %}
            $('sagittal').addEvent('click', function(event) {
                var y_pos = event.client.x - $('sagittal').getCoordinates().left;
                setSagittalX(y_pos);//+24);
		sectionNum = Math.round(y_pos/180 * sections.length);
                highlightSection(sections[sectionNum]);
		// Find which 'page' this section is on and scroll accordingly
		jumpToPage = Math.floor(sectionNum/(7*6));
		nJumps = vertical_moves - jumpToPage;
		vertical_moves = jumpToPage;
		$('gallery_inside').tween('margin-top', '-'+ (gHeight * jumpToPage) + 'px');
		if (vertical_moves==0)
		   $('up').set('class','deactivated');
		else
		   $('up').erase('class');
                if(vertical_moves*6>= (rows-7)) 
                   $('down').set('class', 'deactivated');
                else
		   $('down').erase('class');
            });
{% endif %}

            $$('#gallery_inside img').each(function(elem, i) {
                sections.push(elem);
                elem.addEvent('mouseover', function(){
{% if not series.isAuxiliary %}
                    setSagittalX(Math.round(i / sections.length * 180));{% endif %}
                    highlightSection(elem);
                });
            });

            var vertical_moves = 0;
            var rows = Math.ceil(nSections/7);
	    gHeight = $('gallery_container').getStyle('height').toInt()+1;
            if(rows>10) {
                $('up').addEvent('click', function(event){
                    if(!$('up').hasClass('deactivated')) {
                        vertical_moves--;
                        $('down').erase('class');
                        $('gallery_inside').tween('margin-top', '-'+ (gHeight * vertical_moves) +'px');
                        if (vertical_moves==0) {
                            $('up').set('class', 'deactivated');
                        }
                    }
                });

                $('down').addEvent('click', function(event){
                    if(!$('down').hasClass('deactivated')) {
                        vertical_moves++;
                        $('up').erase('class');
                        $('gallery_inside').tween('margin-top', '-'+ (gHeight * vertical_moves) +'px');
                        if(vertical_moves*6>= (rows-7)) {
                            $('down').set('class', 'deactivated');
                        }
                    }
                });
            } else {
                $('up').set('class', 'deactivated');
                $('down').set('class', 'deactivated');
            }
        });


    </script>
{% endblock %}

{% block content %}

{% if not series.isAuxiliary %}
{% if series.labelMethod != 1 %}
<div style="float:right;"><table><tr><td>
<input type="checkbox" id="showNissl" value="1" {% if showNissl %}checked{% endif %} />
</td><td>Show Interleaved Nissl Series</td></tr></table></div>
{% endif %}
{% endif %}
{% if not series.isAuxiliary %}
    <div id="sagittal_nav" style="position: relative; left: 60px;"><div id="sagittal_pos"></div><img id="sagittal" src="/static/img/blended_sag_white.png" /></div>
{% else %}<br /><br />
{% endif %}
    <div id="controls_vert">
        <div id="up" class="deactivated">Scroll Up</div>
        <div id="down">Scroll Down</div>
    </div>
    <div id="gallery_container">
    <div id="picture_section">
        <div id="gallery_inside">
            {% for section in sections %}
                <a href="/seriesbrowser/viewer/{{ section.series.id }}/{{ section.id }}/"><img width="120" height="90" src="{{ section.pngPathLow }}" /></a>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}
