{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/slideGallery.js"></script>
    <script type="text/javascript">
        window.addEvent('domready', function() {
            var nSections = {{numSections}};
            var bitDepth = Math.pow(2,{{ section.jp2BitDepth }})-1;

            var setSagittalX = function(x) {
                $('sagittal_pos').setStyle('left', x);
            };

            var sections = [];
            var highlighted = undefined;
            
            var highlightSection = function(elem) {
                if(highlighted) highlighted.setStyle('border-top','')
                elem.setStyle('border-top','3px solid #FFFFFF');
                highlighted = elem;
            };

            $('sagittal').addEvent('click', function(event) {
                //y_pos = 5.762 - 0.067*(event.page.x-10);
                var y_pos = event.client.x - $('sagittal').getCoordinates().left;
                setSagittalX(y_pos+24);
                highlightSection(sections[Math.round(y_pos/180 * sections.length)]);
                //filmstrip.jump(y_pos);
            });
//            var showGallery = function(){
//                var while_pictures = 0;
//                while(while_pictures < nSections) {
//                    var sectionParts = thumbNailIds[while_pictures].split('-');
//                    var image_anchor = new Element('a', {
//                        'href': "/seriesbrowser/viewer/"+sectionParts[0]+"/"+sectionParts[1]+"/",
//                    } );
//                    var new_image = new Element('img', {
//                        'src': thumbNails[while_pictures],
//                        'id': thumbNailIds[while_pictures],
//                    });
//                    new_image.injectInside(image_anchor);
//                    image_anchor.inject($('gallery_inside'));
//                    while_pictures++;
//                }
//            };
//            showGallery();

            $$('#gallery_inside img').each(function(elem, i) {
                sections.push(elem);
                elem.addEvent('mouseover', function(){
                    setSagittalX(24 + Math.round(i / sections.length * 180));
                    highlightSection(elem);
                });
            });

            var vertical_moves = 0;
            var rows = Math.ceil(nSections/7);
            if(rows>10) {
                $('up').addEvent('click', function(event){
                    if(!$('up').hasClass('deactivated')) {
                        vertical_moves--;
                        $('down').erase('class');
                        $('gallery_inside').tween('margin-top', '-'+ (400 * vertical_moves) +'px');
                        if (vertical_moves==0) {
                            $('up').set('class', 'deactivated');
                        }
                    }
                });

                $('down').addEvent('click', function(event){
                    if(!$('down').hasClass('deactivated')) {
                        vertical_moves++;
                        $('up').erase('class');
                        $('gallery_inside').tween('margin-top', '-'+ (400 *vertical_moves) +'px');
                        if(vertical_moves*5>= (rows-14)) {
                            $('down').set('class', 'deactivated');
                        }
                    }
                });
            } else {
                $('up').set('class', 'deactivated');
                $('down').set('class', 'deactivated');
            }
        });
    </script>
{% endblock %}

{% block content %}
    <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td id="sagittal_nav"><div id="sagittal_pos"></div><img id="sagittal" src="/static/img/blended_sag.png" /></td>
        <td></td>
    </tr>
    <tr><td colspan="2">
    <div id="gallery_container">
    <div id="picture_section">
        <div id="gallery_inside">
            {% for section in sections %}
                <a href="/seriesbrowser/viewer/{{ series.id }}/{{ section.id }}/"><img width="120" height="90" src="/static/slices/PMD35/PMD35_0002_thumbnail_smallest.png" /></a>
            {% endfor %}
        </div>
    </div>
    <div id="controls_vert">
        <div id="up" class="deactivated">Scroll Up</div>
        <div id="down">Scroll Down</div>
    </div>
    </div>
    </td></tr>
    </table>
{% endblock %}