<html>
<body>
<p>
         Scroll through the gallery using the arrows on the two sides of the filmstrip. 
</p>
<br/>
<p>
MouseOver the images to see the details in the info panel and to find out the relative position on the sagittal view.
</p>
<br/>
<p> Clicking on a thumbnail image will take display the actual image in the
 main panel.
</p>
 <br/>
<p>For images with inherently high dynamic range, the dynamic range that you would like to see in the final 8 bit image can be set in the control panel on the top left by using the slider bars and then clicking on "Resample". 
</p>
</body>
</html>
