<html>
<body>
<p>
         Scroll through the gallery using the arrows on the bottom left of the
         image panel to view all the thumbnails. 
</p>
<br/>
<p>
MouseOver the images to check
         the details in the info panel and to see the relative position on the
         sagittal view.
</p>
<br/>
<p> Clicking on a thumbnail image will take you to the main viewer screen with
  the thumbnail positioned in the filmstrip gallery and the sagittal marker
  positioned correspondingly.  
</p>
</body>
</html>
