{% extends "base.html" %}

{% block content %}
{% if series_page.object_list %}
    <div class="filter">
        <form action="/seriesbrowser/" method="get">{% csrf_token %}
        <div class="fieldWrapper">
        {{ form.subject.errors }}
        <label for="id_tracer_filter">Tracer:</label>
        {{ form.tracer_filter }}
        <label for="id_region_filter">Region:</label>
        {{ form.region_filter }}
        <input type="submit" value="Filter" />
        </form>
    </div>
    </div>
    <div class="pagination">
    <span class="step-links">
        {% if series_page.has_previous %}
            <a href="?page={{ series_page.previous_page_number }}&sort={{ sort }}_{{ dir }}&{{ filters }}">prev</a>
        {% endif %}

        <span class="current">
            Page {{ series_page.number }} of {{ series_page.paginator.num_pages }}
        </span>

        {% if series_page.has_next %}
            <a href="?page={{ series_page.next_page_number }}&sort={{ sort }}_{{ dir }}&{{ filters }}">next</a>
        {% endif %}
    </span>
    </div>
    <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td><a href="?sort=name_{% if sort == 'name' and dir == 'asc'%}desc{% else %}asc{% endif %}&{{ filters }}">Series Name</a></td>
        <td></td>
        <td><a href="?sort=region_{% if sort == 'region' and dir == 'asc'%}desc{% else %}asc{% endif %}&{{ filters }}">Inj Region</a></td>
        <td>Inj Coords (<a href="?sort=coordx_{% if sort == 'coordx' and dir == 'asc'%}desc{% else %}asc{% endif %}&{{ filters }}">X</a>,
            <a href="?sort=coordy_{% if sort == 'coordy' and dir == 'asc'%}desc{% else %}asc{% endif %}&{{ filters }}">Y</a>,
            <a href="?sort=coordz_{% if sort == 'coordz' and dir == 'asc'%}desc{% else %}asc{% endif %}&{{ filters }}">Z</a>)</td>
        <td><a href="?sort=tracer_{% if sort == 'tracer' and dir == 'asc'%}desc{% else %}asc{% endif %}&{{ filters }}">Tracer Type</a></td>
        <td>Image Type</td>
        <td><a href="?sort=qc_{% if sort == 'qc' and dir == 'asc'%}desc{% else %}asc{% endif %}&{{ filters }}">QC Sections</a></td>
        <td>Preview</td>
    </tr>
    {% for series in series_page.object_list %}
        <tr>
            <td>{{ series.0 }}</td>
       <!--     <td><img src="/static/img/slice.jpg" /></td> -->
            <td><a href="/seriesbrowser/viewer/?seriesId={{series.8}}"><img src="{{series.7}}" /></a></td> 
            <td>{{ series.1 }}</td>
            <td>x:{{ series.2 }} y:{{ series.3 }} z:{{ series.4 }}</td>
            <td>{{ series.5 }}</td>
            <td>{{ 'fluoro/brightfield' }}</td>
            <td>{{ series.6 }}</td>
            <td><a href="/seriesbrowser/allSections/?seriesId={{series.8}}"><img src="{{series.7}}" /></a></td> 
        </tr>
    {% endfor %}
    </table>
    <div class="pagination">
    <span class="step-links">
        {% if series_page.has_previous %}
            <a href="?page={{ series_page.previous_page_number }}&sort={{ sort }}_{{ dir }}&{{ filters }}">prev</a>
        {% endif %}

        <span class="current">
            Page {{ series_page.number }} of {{ series_page.paginator.num_pages }}
        </span>

        {% if series_page.has_next %}
            <a href="?page={{ series_page.next_page_number }}&sort={{ sort }}_{{ dir }}&{{ filters }}">next</a>
        {% endif %}
    </span>
    </div>
{% else %}
    <p>No injection series are available that match the given criteria.</p>
{% endif %}
{% endblock content %}
