{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/injectionGallery.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/injections.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/slider.css" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/slideGallery.js"></script>
<script type="text/javascript">
  window.addEvent("domready", function() {

    var ARA_gallery = new slideGallery($("ARAgallery"), {
      steps: 3,
      mode: "circle",
      direction: "vertical",
      speed: 250
    });

  var mooslider = $('mooslider');
  new Slider(mooslider, mooslider.getElement('.knob'), {
    range: [0, 10],
    initialStep: 5,
    onChange: function(value){
      $('overlayImg').set('opacity',value/10);
    }
  });
  {% for f in tn_list %}
  $('{{f}}').addEvents({mouseover: function(event){ reportInjections(event,'{{f}}'); },
		       mouseleave: function() { cleanupInjReport(); }});{% endfor %}

  // Add help icon and help text on mouseover
  new Element( 'a', {href: 'http://mbaimages.cshl.edu/?page_id=973', target:'_blank', id:'logo'} ).injectInside('wrapper');
  $('logo').position({relativeTo: $('wrapper'), position: 'upperLeft'});
  new Element('img', {src: '/static/djatoka/images/help.png', id: 'help', styles: { opacity:0.8 } } ).injectInside('logo');

     $('help').setStyle( 'filter', 'progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src="/static/djatoka/images/help.png",sizingMethod=scale)' );
  

  new Tips( '#help, #toolbar', {
     className: 'tool-tip2',
     onShow: function(t){ t.setStyle('opacity',0.2); t.fade(0.9); },
     onHide: function(t){ t.fade(0); }
  });
   $('help').store('tip:text', '<div style="display: table-cell;"><img style="vertical-align:text-top;" src="/static/img/bap_logo_tr.png" width="53" height="60" /></div><div style="width: 500px; display: table-cell; padding:20px; vertical-align:top; color:#fff; line-height:110%; font-size:13px;"><li>Cycle through the coronal atlas thumbnail sections using the arrows at left.</li><li>Hover over any atlas thumbnail to view how many injections are present in the MBA dataset at that approximate level.</li><li>Click an atlas thumbnail to view a larger version at right.</li><li>Hover over the injection target icons to view details and launch the viewer for a selected image series.</li><li>Move the slider at bottom to change atlas overlay opacity on the Nissl section</li><br /><strong>Click the ? icon for additional help</strong></div>');
});

var tnFiles = [{% for f in tn_list %}'{{f}}',{% endfor %}];
var secYCoord = [{% for y in yCoord %}{{y}},{% endfor %}];
var injSecNum = [{% for c in closestSec %}{{c}},{% endfor %}];
var injX = [{% for i in injection_list %}{{i.x_coord}},{% endfor %}];
var injY = [{% for i in injection_list %}{{i.y_coord}},{% endfor %}];
var injZ = [{% for i in injection_list %}{{i.z_coord}},{% endfor %}];
var seriesNum = [{% for i in injection_list %}{{i.series.id}},{% endfor %}];
var tracer = [{% for i in injection_list %}'{{i.tracer.name}}',{% endfor %}];
</script>

<script type="text/javascript">
function injectionSelect(e,xx,yy,zz) {
// Allow the user to choose the injection series to view following a mouseover
// Find all the injections matching these coords (yy is approx and allow a bit of jitter)
  myThresh = 0.01;
  myYThresh = 0.2;
  myHTML = "";
 
  var temp = $('injPopUp');
  var mouseX, mouseY;

  if (temp) {
    temp.dispose(); } // erase any old popup
  
  for (i=0; i<injX.length; i++) {
    if ((Math.abs(injX[i]-xx)<myThresh) && (Math.abs(injZ[i]-zz)<myThresh) && (Math.abs(injY[i]-yy)<myYThresh)) {
      myURL = '/seriesbrowser/viewer/' + seriesNum[i];
      myHTML = myHTML + "<p><a href="+myURL+">" + tracer[i] + " injection</a>: (" + injX[i] + ", " + injY[i] + ", " + injZ[i] + ")</p>";
    }
  }
  mouseX = $(e.target.id).getPosition().x+20;
  mouseY = $(e.target.id).getPosition().y+20;
  popUp = new Element('div',{'html':myHTML, 'id':'injPopUp', 'class':'tool-tip','style':'position: absolute; top:'+mouseY+'px; left:'+mouseX+'px;'});
  var myFx = new Fx.Tween(popUp, {duration: 250});
  myFx.start('opacity',0.0,0.8);
  popUp.injectInside($('main'));
}

function reportInjections(e,fname) {
  
   var popup = $('injReport');
   var mouseX, mouseY;

   if (popup) { popup.dispose(); }
   idx = tnFiles.indexOf(fname);
   firstIdx = injSecNum.indexOf(idx);
   if (firstIdx != -1) {
       lastIdx = firstIdx;
       while (injSecNum[lastIdx] == idx) { lastIdx = lastIdx + 1;}
       nInjections = lastIdx-firstIdx;
   }
   else { nInjections = 0 };
   coord = secYCoord[idx].toFixed(2);
   if (coord>0) { coord = '+' + coord; }
   var myHTML = "<p>Bregma "+ coord + "<br/>" + nInjections + " injections</p>";
   mouseX = $(e.target.id).getPosition().x+114;
   mouseY = $(e.target.id).getPosition().y+80;
   popUp = new Element('div',{'html':myHTML, 'id':'injReport', 'class':'tool-tip2','style':'position:absolute; top:' +mouseY+ 'px; left:' + mouseX + 'px;'});
   popUp.injectInside($(document.body));
}

function cleanupInjReport() {
   var temp=$('injReport');
   if (temp) { temp.dispose();}
}

function updateMain(fname) {
   // Find any injections marked in the current atlas view and erase!
   var children = $('atlasWindow').getChildren('.injTarget');
   children.dispose();

   var popup = $('injPopUp');
   if (popup) { popup.dispose(); }
 
   // Set the nissl image and the overlay image for the chosen section
   imgPath = '/static/img/jpgSections/';
   nisslName = 'nissl_' + fname.substr(6);
   legendName = 'legend_' + fname.substr(6);
   $('mainImg').set('src',imgPath + nisslName);
   $('overlayImg').set('src',imgPath + legendName);
   $('overlayImg').set('events',{'click': function() { temp=$('injPopUp'); if (temp) { temp.dispose(); }}});

   // Display the approximate y coordinate of the atlas section
   idx = tnFiles.indexOf(fname);
   coord = secYCoord[idx].toFixed(2);
   if (coord>0) { coord = '+' + coord; }
   $('bregmaLoc').set('text','Bregma '+ coord + 'mm');

   // Find the injections for this section
   firstIdx = injSecNum.indexOf(idx);
   if (firstIdx != -1) {
     lastIdx = firstIdx;
     while (injSecNum[lastIdx] == idx) { lastIdx = lastIdx + 1;}
     nInjections = lastIdx - firstIdx;
     for (i=firstIdx; i<lastIdx; i++) {
       myURL = '/seriesbrowser/viewer/';
       var my_img = new Element('img', {'src':'/static/img/target.png',
				'class':'injTarget',
				'id': i,
			        'style':'position:absolute; top:150px; left:400px;',
				'events': {
					   'mouseover': function(event) { injectionSelect(event,injX[this.id],injY[this.id],injZ[this.id])}
					  }
		                });
       x = Math.round((5.7 + injX[i])/(11.4) * 456);
       x = x + 290 - 10; // account for image position within div and img size
       y = Math.round((1.5 + (injZ[i]-18/35))/ 8 *320);
       y = y + 80 - 10; // account for image position within div and img size
       my_img.set('style','cursor: pointer; position:absolute; top:' +y+ 'px; left:' +x+ 'px;');
       my_img.injectInside($('atlasWindow'));
       delete my_img;
     }
   }
}
</script>
{% endblock %}

{% block content %}
<div id="wrapper"><br />
  <div id="ARAgallery" class="gallery gallery-vert">
    <div class="holder" id="holder">
      <ul>
	{% for fname in tn_list %}
	<!--<li><a href = "javascript:updateMain('{{fname}}')"><img id="{{fname}}" title="" src="/static/img/jpgSections/tn/{{fname}}" width="228" height="160" onmouseover="javascript:reportInjections(event,'{{fname}}');" onmouseout="javascript:cleanupInjReport()" /></a></li>-->
	<li><a href = "javascript:updateMain('{{fname}}')"><img id="{{fname}}" title="" src="/static/img/jpgSections/tn/{{fname}}" width="228" height="160"/></a></li>
	{% endfor %}
      </ul>
      <div class="control">
	<a href="#" class="prev">prev</a>
	<a href="#" class="next">next</a>
      </div>
    </div>
  <div id="atlasWindow">
    <div id="bregmaLoc" style="font-size: 14pt; position: absolute; top: 60px; left: 430px;"></div>
    <div style="position: absolute; top: 80px; left: 290px;">
      <img id="mainImg" src="/static/img/jpgSections/nissl_016.jpg" width="456" height="320" />
    </div>
    <div style="position: absolute; top: 80px; left: 290px;">
      <img id="overlayImg" src="/static/img/jpgSections/legend_016.jpg" width="456" height="320" />
    </div>
    <div style="position: absolute; left:438px; top:400px;" id="mooslider" class="mooslider">
      <div class="knob"></div>&nbsp; Atlas Overlay Opacity
   </div>  <!-- slider -->
  </div> <!-- atlasWindow -->
  </div> <!-- gallery -->
    <!-- Atlas legend -->
    <div style="position: absolute; right:40px; top: 100px; text-align: left;">
       <div style="border-left: 20px solid #B0FFB8; padding:0 0 5px 10px; margin:2px;">Cerebral Cortex</div>
       <div style="border-left: 20px solid #90FF90; padding:0 0 5px 10px; margin:2px;">Olfactory Areas</div>
       <div style="border-left: 20px solid #79FF80; padding:0 0 5px 10px; margin:2px;">Hippocampal Region</div>
       <div style="border-left: 20px solid #90FFB0; padding:0 0 5px 10px; margin:2px;">Retrohippocampal Region</div>
       <div style="border-left: 20px solid #A0C8E8; padding:0 0 5px 10px; margin:2px;">Striatum</div>
       <div style="border-left: 20px solid #A0C8B0; padding:0 0 5px 10px; margin:2px;">Pallidum</div>
       <div style="border-left: 20px solid #FF7080; padding:0 0 5px 10px; margin:2px;">Thalamus</div>
       <div style="border-left: 20px solid #FF5050; padding:0 0 5px 10px; margin:2px;">Hypothalamus</div>
       <div style="border-left: 20px solid #FFB0FF; padding:0 0 5px 10px; margin:2px;">Midbrain</div>
       <div style="border-left: 20px solid #FF9B88; padding:0 0 5px 10px; margin:2px;">Pons</div>
       <div style="border-left: 20px solid #FFA0B0; padding:0 0 5px 10px; margin:2px;">Medulla</div>
       <div style="border-left: 20px solid #F0FFA0; padding:0 0 5px 10px; margin:2px;">Cerebellum</div>

    </div> <!-- atlas legend -->
</div> <!-- wrapper -->
{% endblock %}
