<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% block title %}<title>{% if title %}{{ title }}{% else %}The Mouse Brain Architecture Project{% endif %}</title>{% endblock title %}
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/reset.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/viewer.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/djatoka/css/iip.compressed.css" />

<script type="text/javascript" src="/static/js/mootools-1.2.5-core-yc.js"></script>
<script type="text/javascript" src="/static/js/mootools-1.2.5.1-more.js"></script>
<script type="text/javascript" src="/static/js/iipmooviewer-1.1.js"></script>
<script type="text/javascript" src="/static/js/slideGallery.js"></script>
<script type="text/javascript">
/*
    var server = 'http://localhost:8000/';
    var image = 'http://localhost:8000/static/slices/PMD64_0068.jp2';
    var credit = '';

    var iip = new IIP( "targetframe", {
		image: image,
		server: server,
		credit: credit,
		zoom: 1,
		render: 'random',
        showNavButtons: true
    });
*/
    window.addEvent('domready', function() {
        var nSections = {{ sections.count }};
        if($('filmstrip')) {
            var filmstrip = new slideGallery($('filmstrip'), {
                steps: 4,
                mode: "line"
            });
        }

        var panel = new Fx.Slide('panel', {mode: 'horizontal'});
        panel.hide();
        $('panel').setStyle('z-index','1');
        $('trigger').addEvent('click', function(event) {
            event.stop();
            panel.toggle();
        });

        var setSagittalX = function(x) {
            $('sagittal_pos').setStyle('left', x);
        };
        var highlightSection = function(elem) {
            elem.getSiblings().setStyle('border-top','');
            elem.setStyle('border-top','3px solid #FFFFFF');
        };
        $('sagittal').addEvent('click', function(event) {
            setSagittalX(event.page.x)
            //y_pos = 5.762 - 0.067*(event.page.x-10);
            y_pos = Math.round((event.page.x-10) / 200 * nSections) + 1;
            filmstrip.jump(y_pos);
            section = $$('img[id$='+y_pos+']');
            highlightSection(section[0].getParent('li'));
        });
        
        $$('#filmstrip img').each(function(elem) {
           elem.addEvent('click', function(){
               parts = elem.id.split('-');
               highlightSection(elem.getParent('li'));
               setSagittalX(10 + Math.round((parts[2]-1) / nSections * 200));
               new Request.HTML({
                   url: '/seriesbrowser/ajax/section/' + parts[1] + '/',
                   method: 'get',
                   onComplete: function(response) {
                        $('panel_content').empty().adopt(response);
                    }
               }).send();

               path = elem.get('src');
               file = path.split('/').pop();
               pieces = file.split('_');
               jp2 = pieces[0] + '_' + pieces[1] + '.jp2';
           });
        });

        var color = [0, 0, 0];

        $$('.advanced.slider').each(function(slider, i){
            new Slider(slider, slider.getElement('.knob'), {
                steps: 255,
                onChange: function(){
                    color[i] = this.step;
                }
            });
        });

        
    });
</script>
</head>
<body>

<div id="viewer">
  <div id="targetframe"></div>
  <div id="colors">
    <div id="red_low" class="advanced slider"><div class="knob"></div></div>
    <div id="red_high" class="advanced slider"><div class="knob"></div></div>
    <div id="green_low" class="advanced slider"><div class="knob"></div></div>
    <div id="green_high" class="advanced slider"><div class="knob"></div></div>
    <div id="blue_low" class="advanced slider"><div class="knob"></div></div>
    <div id="blue_high" class="advanced slider"><div class="knob"></div></div>
  </div>
  <div id="nav">
    <div id="sagittal"><div id="sagittal_pos"></div><img src="/static/img/blended_sag.png" alt="sagittal" /></div>
    {% if sections %}
    <div id="filmstrip">
      <div class="holder">
        <ul>
          {% for section in sections %}
          <li><img id="section-{{ section.id }}-{{ section.sectionOrder }}" src="/static/slices/{{ section.pngPathLow }}" alt="brain slice" width="120" height="90" /></li>
          {% endfor %}
        </ul>
      </div>
      <div class="control">
        <a href="#" class="prev">prev</a>
        <a href="#" class="next">next</a>
      </div>
    </div>
  {% endif %}
  </div>
</div>

<div id="panel">
  <div id="panel_content">{% if section %}{% include 'seriesbrowser/ajax/section.html' %}{% endif %}</div>
  <div style="clear:both;"></div>
</div>
<div><a id="trigger" class="trigger" href="#">Info</a></div>
</body>
</html>
