.tool-tip {
	color: #fff;
	width: 139px;
	z-index: 13000;
}

div.tool-tip {
	color: #fff;
	width: 240px; 
        z-index: 13000;
	background-color: #000000;
	opacity: 0.0;
	padding: 8px 8px 8px 8px;
	filter: alpha(opacity=80);
	position: absolute;
	overflow: auto;
        -moz-border-radius: 5px;
        -khtml-border-radius: 5px;
        -webkit-border-radius: 5px;
}

.tool-tip2{
        color: #fff;
        z-index: 13000;
        background-color: #000000;
        opacity: 0.8;
        padding: 8px 8px 0px 8px;
        filter: alpha(opacity=80);
        position: absolute;
        overflow: auto;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.tool-title {
	font-weight-bold;
	font-size: 11px;
	margin: 0;
	color: #9FD4FF;
	padding: 8px 8px 4px;
}

.tool-text {
	font-size: 11px;
	padding: 4px 8px 8px;
}
