#viewer {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
/*
#colors {
    position:fixed;
    right: 20px;
    bottom:200px;
    background-color: #333333;
}
*/
a:link {color: #b0e0e6; }
a:active {color: #b0e0e6; }
a:visited {color: #ffff00; }
a:hover {color: #b0e0e6; }

div#colors{font-size:50%;line-height:0;position:relative;background:#222;opacity:.6;width:auto;padding:5px;-moz-border-radius-bottomleft:2%;-moz-border-radius-bottomright:2%;-webkit-border-bottom-left-radius:2%;-webkit-border-bottom-right-radius:2%;}
.value {
    width: 36px;
}
.value input {
    float: left;
    display: block;
    width: 25px;
    margin: 5px 0px;
    padding: 0px 0px;
    height: 14px;
    //line-height:8pt;
    font-size: 7px;
    border: 1px ridge #ccc;
    background: #CCC;
}
.slider {
  background: #CCC;
  height: 16px;
  margin: 5px 0px;
  width: auto;
}
.slider .knob {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.slider .knob.red {
  background: red;
}
.slider .knob.green {
  background: green;
}
.slider .knob.blue {
  background: blue;
}
#targetframe {
    width: 99%;
    height: 99%;
    margin-left: auto;
    margin-right: auto;
}
#nav {
    position: fixed;
    bottom: 0px;
    width: 100%;
}
#nav1 {
    position: relative;
    bottom: 0px;
    width: 100%;
}
#sagittal {
    float: left;
    margin-left: 10px;
    width: 200px;
}
#sagittal_pos {
    position: relative;
    border-left: 3px solid #FFFFFF;
    height: 100px;
    left: 10px;
}
#sagittal_allSections {
    position: fixed;
    float: left;
    margin-left: 50px;
    margin-top: 600px;
    width: 200px;
}
#sagittal_pos_allSections {
    position: fixed;
    border-left: 3px solid #FFFFFF;
    height: 100px;
    left: 23px;
    margin-left:50px;
    bottom:330px;
}
#filmstrip {
    position: fixed;
    right: 120px;
    width: 976px;
    background-color: #000000;
	overflow: hidden;
}
#filmstrip .holder {
	width: 100%;
	position: relative;
	overflow: hidden;
	z-index: 2;
}
#filmstrip .holder ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 30000px;
}
#filmstrip .holder ul li {
	float: left;
	width: 120px;
	margin: 0 1px 1px 0;
}
#filmstrip .holder ul li img { display: block; }
#filmgallery {
    position: fixed;
    top: 300px;
    right: 120px;
    width: 976px;
    background-color: #000000;
    overflow: hidden;
}
#filmgallery .holder {
	width: 100%;
	position: relative;
	overflow: hidden;
	z-index: 2;
}
#filmgallery .holder ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 30000px;
}
#filmgallery .holder ul li {
	float: left;
	width: 120px;
	margin: 0 1px 1px 0;
}
#filmgallery .holder ul li img { display: block; }
.next,
.prev {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -30px;
	width: 40px;
	height: 40px;
	background: url(/static/img/btn-next.png) no-repeat;
	z-index: 20;
	overflow: hidden;
	text-indent: -9999px;
	outline: none;
	cursor: pointer;
}
.next-disable { background: url(/static/img/btn-next-disable.png) no-repeat; }
.prev {
	background: url(/static/img/btn-prev.png) no-repeat;
	right: auto;
	left: 10px;
}
.prev-disable { background: url(/static/img/btn-prev-disable.png) no-repeat; }
.control {
	font-size: 18px;
	line-height: 21px;
	padding: 5px 0 0;
}
#panel {
position: fixed;
top: 10px;
left: 0;
display: block;
background: #111111;
border:1px solid #222222;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
width: 330px;
height: 500px;
padding: 30px 30px 30px 130px;
filter: alpha(opacity=85);
opacity: 0.85;
color:#FFFFFF;
z-index: -1;
font-family: arial;
}

#helpPanelAllSections {
position: fixed;
top: 600px;
left: 0px;
display: block;
background: #111111;
border:1px solid #222222;
width: 400px;
height: 100px;
color:#FFFFFF;
z-index: -1;
}
#helpPanelContentAllSections {
position: relative;
left: 100px;
padding: 0px 100px 0px 0px;
}

#helpPanelViewer{
position: fixed;
top: 670px;
left: 0px;
display: block;
background: #111111;
border:1px solid #222222;
width: 270px;
height: 100px;
color:#FFFFFF;
z-index: -1;
}
#helpPanelContentViewer {
position: relative;
left: 0px;
}

a.trigger{
position: fixed;
text-decoration: none;
top: 80px; left: 0;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 20px 40px 20px 15px;
font-weight: 700;
background:#333333 url(images/plus.png) 85% 55% no-repeat;
border:1px solid #444444;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;
display: block;
z-index: 2;
}
a.helpTriggerAllSections{
position: fixed;
text-decoration: none;
top: 600px; left: 0;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 20px 40px 20px 15px;
font-weight: 700;
background:#333333 url(images/plus.png) 85% 55% no-repeat;
border:1px solid #444444;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;
display: block;
z-index: 2;
}
a.helpTriggerViewer{
position: fixed;
text-decoration: none;
top: 600px; left: 0;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 20px 40px 20px 15px;
font-weight: 700;
background:#333333 url(images/plus.png) 85% 55% no-repeat;
border:1px solid #444444;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;
display: block;
z-index: 2;
}

p {
  background-color: #111111;
  color: #ffffff;
  margin: 0;
  }

#button {
	width: 12em;
	border-right: 1px solid #000;
	padding: 0 0 1em 0;
	margin-bottom: 1em;
	font-family: 'Trebuchet MS', 'Lucida Grande',
	  Verdana, Lucida, Geneva, Helvetica, 
	  Arial, sans-serif;
	background-color: #111111;
        color: #ffffff;
	}
#button ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
	}
	
#button li {
	border-bottom: 1px solid #90bade;
	margin: 0;
	}
