<h3>{{ series.desc }}</h3>
<br/>
<p>Section: {{section.name}}</p>
<br/>
<p>Num QC sections: {{series.numQCSections}}</p>
<br/>
<p>5 Nearest Series:
<br/><br/>
<div id = "button">
<ul>
{% for s in nslist %}
<li>
 <a href="/seriesbrowser/viewer/{{s.id}}">{{s.desc}}</a></p>
</li>
{% endfor %}
</ul>
</div>
<br/>
<p>Injection region:&nbsp;{{region.code}} - {{ region.desc}}</p>
<br/>
<p>Search the literature on <a href="http://brainarchitecture.org:8080/neuro_nlp/index.jsp?query='{{region.desc}}'&docsPerPage=5&category0=connectivity&sentsPerDoc=5&twoBrains=yes&sentsToSort=1000">
region</a>
</p>
<br/>
<p><a href="/seriesbrowser/?region_filter={{region.id}}">Show</a> all injection series for the region</p>
<br/>
<p>Pedagogical unit info.</p>
<p>Bams efferent <a href="http://brancusi.usc.edu/bkms/brain/show-conef.php?aidi={{region.bamsRatId}}&publi=1">link.</a></p>
<p>Bams afferent <a href="http://brancusi.usc.edu/bkms/brain/show-conaf.php?aidi={{region.bamsRatId}}&publi=1">link.</a></p>
<!--<p>Enter notes <input type="textarea" id="sectionNote" style="height:10px;width:70px;overflow:auto;" value="{{sectionNote.comment}}"> </p>
<input type="hidden"id = "sectionId" value="{{section.id}}"/>
<div id = "noteSubmit">
 <p><input type="button" id = "submitButton" name = "Update" value = "Update" style="width:60px;" ></p>
</div>-->
<!--<form id = "showNisslForm" action="showNissl" method="get">
<input type="hidden" id="seriesId" name="seriesId" value="{{series.id}}"/>-->
<div id = "showNissls" >
<p> <a href =  "/seriesbrowser/showNissl/{{series.id}}/1/{{screen}}/"> Show Nissl </a>  </p>
<p> <a href =  "/seriesbrowser/showNissl/{{series.id}}/0/{{screen}}/"> Hide Nissl </a>  </p>
</div>
<!--</form>-->
