<script>
function submitCommentForm(){
//  alert(document.getElementById('sectionComment').value);
  document.getElementById('sectionCommentVal').value = document.getElementById('sectionComment').value;
  document.getElementById('commentForm').submit();
}
function limitText(limitField) {
fldValue = limitField.value;
var limitNum = 200;
var chars = limitNum - fldValue.length;
if (chars <= 0) {
alert ("You are trying to enter more than the limit of " + limitNum + " characters! ");
fldValue = fldValue.substring(0,limitNum-1)
document.myform.limitedtextarea.value = fldValue;
}
if (chars == 10) {
alert ("You are approaching the limit of " + limitNum + " characters and have only 10 characters left! ")
}
}
</script> 
<h3>{{ section.series.desc }} ({{nSections}} sections)</h3>
<br/>
<p><strong>Section:</strong>&nbsp;{{section.name}} <br />
<!-- Provide the y coordinate if it is not null -->
{% if section.y_coord %}(Bregma&nbsp;&#8764;
{% if section.y_coord > 0%}+{% endif %}{{section.y_coord|floatformat:2}}&nbsp;mm)
{% if section.series.sectioningPlane.desc == "Coronal" %}
<br />Approx. <a onclick ="javascript:window.open('http://mouse.brain-map.org/viewImage.do?imageId={{atlasID}}','_blank','toolbar=1');" href="#">Allen Reference Atlas section</a><br /><br />
{% endif %}{% endif %}</p>
<p><strong>Section thickness:</strong>&nbsp; {{section.series.sectionThickness}} {{section.series.sectionThicknessUnit}}</p> 
<p><strong>Imaging Method:</strong>&nbsp; {{section.series.imageMethod.name}}</p>
{% if section.series.imageMethod.name != "Fluorescent" %}
<p><strong>Label Method:</strong>&nbsp; {{section.series.labelMethod.name}}</p>
{% endif %}
<br/>
{% if region %}
<p><strong>Injection region:</strong>&nbsp;{{ region.desc}} ({{region.code}})</p>
<br/>
<h4>Series with nearby injections:</h4>
<div id = "button">
<ul style="list-style-type:square; color:#fff;">
{% for s in nslist %}
<li>
 <a href="/seriesbrowser/viewer/{{s.id}}" target="_blank">{{s.desc}}</a>
</li>
{% endfor %}
</ul>
</div>
<p>Search <a href="http://mbaimages.cshl.edu/?page_id=595" target="_blank">text mining</a> engine for region {{region.code}} (<a target="_blank" href="http://brainarchitecture.org:8080/neuro_nlp/index.jsp?query='{{region.desc}}'&docsPerPage=5&category0=connectivity&sentsPerDoc=5&twoBrains=yes&sentsToSort=1000">Link</a>)
</p>
<br/>
<p><a href="/seriesbrowser/?region_filter={{region.id}}" target="_blank">Show</a> all injection series for region {{region.code}}</p>
<br/>

<p>View BAMS efferent projections (<a href="http://brancusi.usc.edu/bkms/brain/show-conef.php?aidi={{region.bamsRatId}}&publi=1" target="_blank">Link</a>)</p>
<p>View BAMS afferent projections (<a href="http://brancusi.usc.edu/bkms/brain/show-conaf.php?aidi={{region.bamsRatId}}&publi=1" target="_blank">Link</a>)</p>
{% endif %}

<!-- This should list an educational unit URL if appropriate -->
{% if series.pedagogicalUnit.url %}
<p<a href="{{series.pedagogicalUnit.url}}">See related teaching unit</a></p>
{% endif %}

<input type="hidden" id="seriesId" name="seriesId" value="{{series.id}}"/>
<br/>
{% if nisslID %}
<div id = "showNissls" >
<p><a onclick ="javascript:window.open('/seriesbrowser/viewer/{{nisslID}}/','_blank','toolbar=1');" href = "#"> Show Nissl series in new window</a></p>
<br/>
</div>
{% endif %}

<div id="commentDiv">
{% if user.is_authenticated %}
  <form action="/seriesbrowser/addNote" method="get" id = "commentForm">
    Comments (Max 200 characters):

    <textarea id = "sectionComment" name = "sectionComment"
    style="height:40px;width:220px;overflow:wrap;margin-top:10px;" value=""
    onKeyDown="limitText(this);"
onKeyUp="limitText(this);"> </textarea>
    <input type="hidden" name = "sectionId" value="{{section.id}}"/>
    <input type="hidden" name = "sectionCommentVal" id = "sectionCommentVal" value=""/>
    <br/>
    <input type="button" value="Submit"
    style="margin-top:10px;"
    onclick="javascript:submitCommentForm();" />
  </form>
{% endif %}
   <p><a onclick ="javascript:window.open('/seriesbrowser/showComments/{{series.id}}/?section_filter={{section.id}}&updater_filter=','_blank','toolbar=1');"
   href = "#"> View section/series comments</a></p>

</div>






