<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block meta %}{% endblock meta %}
    {% block title %}<title>{% if title %}{{ title }}{% else %}The Mouse Brain Architecture Project{% endif %}</title>{% endblock title %}
    {% block head %}{% endblock head %}
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/screen.css" />
    {% block css %}{% endblock css %}
    {% block js %}{% endblock js %}
</head>
<body>
    <div id="container">
        <div id="header">
            <img src="/static/img/bg_hdr_new.jpg" alt="Brain Architecture Project" />
            <ul>
                <li><a href="/seriesbrowser/">View 1</a> |</li>
                <li><a href="/seriesbrowser/injections/">View 2</a> |</li>
                <li><a href="/seriesbrowser/tree/">View 3 |</a></li>
                <li><a href="/seriesbrowser/viewer/">Image Viewer</a></li>
            </ul>
            <div id="login" style="float:right;">
            {% if user.is_authenticated %}<a href="/seriesbrowser/logout/">logout</a>{% else %}<a href="/seriesbrowser/login/">login</a>{% endif %}
            </div>
        </div>
        <div id="content">
            {% block content %}{% endblock content %}
        </div>
        <div id="footer">Copyright © 2011 by Mitra Lab | mitralab.org</div>
    </div>
</body>
</html>

